# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

.gitconfig
.vscode
.packages

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# my customizations
bin/
